# Pandas basics

In [73]:
!ls

01-pandas basics.ipynb continent_facts.csv    countries.csv

In [74]:
#The '!" allows you to run command line commands in a notebook
#Find out where the notebbok is with pwd and move the info to that location

In [75]:
!pip install --quiet pandas

In [76]:
import requests

In [77]:
import pandas as pd

In [78]:
df = pd.read_csv("countries.csv")

In [79]:
df.sort_values('life_expectancy', ascending =False)

,country,continent,life_expectancy,population,gdp
83,Japan,Asia,81.350,125720310,3590446333290
72,"Hong Kong, China",Asia,80.361,6783317,203309577124
161,Switzerland,Europe,79.990,7167908,246475684488
7,Australia,Oceania,79.930,19164351,560384787591
160,Sweden,Europe,79.840,8860153,253754781920
...,...,...,...,...,...
3,Angola,Africa,45.234,13926373,34063908358
187,Zimbabwe,Africa,43.976,12509477,9319560365
31,Central African Rep.,Africa,43.727,3701607,2820624534
186,Zambia,Africa,41.802,10201562,10558616670
147,Sierra Leone,Africa,38.123,4143115,2141990455

In [80]:
df.head()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [81]:
#df.head() gives you the first five rows

In [82]:
df.tail()

                country continent  life_expectancy  population           gdp
183             Vietnam      Asia           73.777    78758010  124201381770
184  West Bank and Gaza      Asia           70.929     3198560   24264276160
185         Yemen, Rep.      Asia           60.404    17723186   39292303362
186              Zambia    Africa           41.802    10201562   10558616670
187            Zimbabwe    Africa           43.976    12509477    9319560365

In [83]:
#df.tail() gives you the last five rows

In [84]:
#How do you get the life expectancy of every single country:

In [85]:
#when you use one dataframe, with brackets, you're throwing away the other columns
df['life_expectancy']

0      54.863
1      74.200
2      68.963
3      45.234
4      73.544
        ...
183    73.777
184    70.929
185    60.404
186    41.802
187    43.976
Name: life_expectancy, Length: 188, dtype: float64

In [86]:
#One column is a series, more columns is a dataframe

In [87]:
#if you wanted to do 10 teop life expectancies do
df.sort_values('life_expectancy', ascending=False).head(10)

              country   continent  life_expectancy  population            gdp
83              Japan        Asia           81.350   125720310  3590446333290
72   Hong Kong, China        Asia           80.361     6783317   203309577124
161       Switzerland      Europe           79.990     7167908   246475684488
7           Australia     Oceania           79.930    19164351   560384787591
160            Sweden      Europe           79.840     8860153   253754781920
81              Italy      Europe           79.730    56986329  1547748695640
74            Iceland      Europe           79.720      281210     8743381320
29             Canada  N. America           79.410    30667365   995094659520
155             Spain      Europe           79.340    40288457   943152778370
57             France      Europe           79.230    59047795  1690892657620

In [88]:
df.head().tail()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [89]:
#Filter for everything that is in Asia
df[df['continent']] == 'Asia'

KeyError: "None of [Index(['Asia', 'Europe', 'Africa', 'Africa', 'N. America', 'S. America',\n       'Europe', 'Oceania', 'Europe', 'Europe',\n       ...\n       'N. America', 'S. America', 'Asia', 'Oceania', 'S. America', 'Asia',\n       'Asia', 'Asia', 'Africa', 'Africa'],\n      dtype='object', length=188)] are in the [columns]"

In [90]:
#Every country in Asia with a life expectancy over 75
(df[(df'life expectancy'] > 75) & (df[continent
df

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3275736198.py, line 2)

In [91]:
#If you want just one country:
df[df['country']=='Mexico']

    country   continent  life_expectancy  population            gdp
110  Mexico  N. America            74.38    99959594  1088959817036

In [92]:
df['life expectancy'].describe()

KeyError: 'life expectancy'

In [93]:
df.head(2)

       country continent  life_expectancy  population          gdp
0  Afghanistan      Asia           54.863    22856302  15153728226
1      Albania    Europe           74.200     3071856  12886435920

In [94]:
df[['life_expectancy', 'gdp']].corr()

                 life_expectancy       gdp
life_expectancy         1.000000  0.209858
gdp                     0.209858  1.000000

In [96]:
#calculate the per capita gdp
#gdp/population
df['gdp']/df['population']

0        663.0
1       4195.0
2       5098.0
3       2446.0
4      12738.0
        ...
183     1577.0
184     7586.0
185     2217.0
186     1035.0
187      745.0
Length: 188, dtype: float64

In [97]:
df['gdp_per_capita'] = df['gdp'] / df['population']
df.head(2)

,country,continent,life_expectancy,population,gdp,gdp_per_capita
0,Afghanistan,Asia,54.863,22856302,15153728226,663.0
1,Albania,Europe,74.200,3071856,12886435920,4195.0

In [99]:
#Step 1: df 
#Step 2: filters
#Step 3: grouby
#Step 4: column(s)
#Step 5: the math


df.groupby('continent')['life_expectancy'].median()

continent
Africa        52.1025
Asia          70.4275
Europe        75.5800
N. America    70.5765
Oceania       67.4955
S. America    70.7660
Name: life_expectancy, dtype: float64

In [101]:
south_america_df = df[df['continent'] == 'S. America']
#setting the value

In [102]:
south_america_df['population'] = 0
#We're setting the population in every South American country to 0. but only temporarily?

/var/folders/b8/pqq040b90d97lstdv_x2w7_r0000gn/T/ipykernel_27094/756261850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  south_america_df['population'] = 0

In [103]:
df['continent'].value_counts()
#counting the number of continents in the continet column

continent
Africa        54
Asia          48
Europe        42
N. America    22
S. America    12
Oceania       10
Name: count, dtype: int64

In [104]:
#Reading stuff from the internet

In [4]:
url = "https://www.theguardian.com/football/laligafootball/table"
pd.read_html(url)

[     P            Team  GP   W   D   L   F   A  GD  Pts  \
 0    1     Real Madrid  38  29   8   1  87  26  61   95
 1    2       Barcelona  38  26   7   5  79  44  35   85
 2    3          Girona  38  25   6   7  85  46  39   81
 3    4        Atlético  38  24   4  10  70  43  27   76
 4    5        A Bilbao  38  19  11   8  61  37  24   68
 5    6   Real Sociedad  38  16  12  10  51  39  12   60
 6    7      Real Betis  38  14  15   9  48  45   3   57
 7    8      Villarreal  38  14  11  13  65  65   0   53
 8    9        Valencia  38  13  10  15  40  45  -5   49
 9   10          Alaves  38  12  10  16  36  46 -10   46
 10  11         Osasuna  38  12   9  17  45  56 -11   45
 11  12          Getafe  38  10  13  15  42  54 -12   43
 12  13      Celta Vigo  38  10  11  17  46  57 -11   41
 13  14         Sevilla  38  10  11  17  48  54  -6   41
 14  15        Mallorca  38   8  16  14  33  44 -11   40
 15  16      Las Palmas  38  10  10  18  33  47 -14   40
 16  17  Rayo Vallecano  38   8  14  16  29  48 -19   38
 17  18           Cadiz  38   6  15  17  26  55 -29   33
 18  19         Almeria  38   3  12  23  43  75 -32   21
 19  20         Granada  38   4   9  25  38  79 -41   21

                                                  Form
 0   Won 3-0 against Cadiz  Won 4-0 against Granada...
 1   Lost 2-4 to Girona  Won 2-0 against Real Socie...
 2   Won 4-2 against Barcelona  Drew 2-2 with Alave...
 3   Won 1-0 against Mallorca  Won 1-0 against Celt...
 4   Won 2-0 against Getafe  Drew 2-2 with Osasuna ...
 5   Won 2-0 against Las Palmas  Lost 0-2 to Barcel...
 6   Won 2-0 against Osasuna  Won 3-2 against Almer...
 7   Lost 2-3 to Celta Vigo  Won 3-2 against Sevill...
 8   Lost 0-1 to Alaves  Drew 0-0 with Rayo Valleca...
 9   Won 1-0 against Valencia  Drew 2-2 with Girona...
 10  Lost 0-2 to Real Betis  Drew 2-2 with A Bilbao...
 11  Lost 0-2 to A Bilbao  Lost 0-1 to Cadiz  Lost ...
 12  Won 3-2 against Villarreal  Lost 0-1 to Atléti...
 13  Won 3-0 against Granada  Lost 2-3 to Villarrea...
 14  Lost 0-1 to Atlético  Won 1-0 against Las Palm...
 15  Lost 0-2 to Real Sociedad  Lost 0-1 to Mallorc...
 16  Lost 0-1 to Almeria  Drew 0-0 with Valencia  W...
 17  Lost 0-3 to Real Madrid  Won 1-0 against Getaf...
 18  Won 1-0 against Rayo Vallecano  Lost 2-3 to Re...
 19  Lost 0-3 to Sevilla  Lost 0-4 to Real Madrid  ...  ]

In [106]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.2.2-cp311-cp311-macosx_10_9_universal2.whl.metadata (3.4 kB)
Downloading lxml-5.2.2-cp311-cp311-macosx_10_9_universal2.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 12.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-5.2.2

In [ ]:
#If you get ModuleNotFoundError lsml
#you have to install lmxl, so %pip install lxml

In [3]:
import pandas as pd

url = "https://www.theguardian.com/football/laligafootball/table"
tables = pd.read_html(url)
len(tables)

1

In [5]:
df = tables[0]
df.head()

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Real Madrid,38,29,8,1,87,26,61,95,Won 3-0 against Cadiz Won 4-0 against Granada...
1,2,Barcelona,38,26,7,5,79,44,35,85,Lost 2-4 to Girona Won 2-0 against Real Socie...
2,3,Girona,38,25,6,7,85,46,39,81,Won 4-2 against Barcelona Drew 2-2 with Alave...
3,4,Atlético,38,24,4,10,70,43,27,76,Won 1-0 against Mallorca Won 1-0 against Celt...
4,5,A Bilbao,38,19,11,8,61,37,24,68,Won 2-0 against Getafe Drew 2-2 with Osasuna ...

In [ ]:
tables = pd.read_html

In [6]:
df.to_csv("teams.csv")

In [7]:
#pd.read_csv("teams.csv")

In [8]:
#Always index=False
df.to_csv("teams.csv", index = False)

In [9]:
pd.json_normalize(data['forecast']['forecastday'])

NameError: name 'data' is not defined